# Jez: This file is managed by ansible

Defaults        timestamp_timeout=300

## Uncomment to allow members of group wheel to execute any command
%wheel ALL=(ALL) ALL

### Jez: Awesome VM configuration
Cmnd_Alias      LAPTOP          = /usr/bin/xbacklight
Cmnd_Alias      POWERD          = /usr/bin/systemctl poweroff,/usr/bin/systemctl halt,/usr/bin/systemctl reboot
Cmnd_Alias      SLEEP           = /usr/bin/systemctl suspend,/usr/bin/systemctl hibernate,/usr/bin/systemctl hybrid-sleep,/usr/bin/systemctl suspend-then-hibernate
Cmnd_Alias      POWER_LEG       = /sbin/halt, /sbin/reboot, /sbin/poweroff

Cmnd_Alias  POWER       =   /usr/bin/shutdown -h now, /usr/bin/halt, /usr/bin/poweroff, /usr/bin/reboot
Cmnd_Alias  STORAGE     =   /usr/bin/mount -o nosuid\,nodev\,noexec, /usr/bin/umount
Cmnd_Alias  SYSTEMD     =   /usr/bin/journalctl, /usr/bin/systemctl
Cmnd_Alias  KILL        =   /usr/bin/kill, /usr/bin/killall
Cmnd_Alias  PKGMAN      =   /usr/bin/pacman
Cmnd_Alias  NETWORK     =   /usr/bin/netctl, /usr/bin/nmcli
Cmnd_Alias  FIREWALL    =   /usr/bin/iptables, /usr/bin/ip6tables
Cmnd_Alias  SHELL       =   /usr/bin/zsh, /usr/bin/bash


{{ ansible_user_id }} ALL=(ALL) ALL
{{ ansible_user_id }} ALL = (root) NOPASSWD: POWERD, SLEEP

